name: Java CI with Maven

on:
  pull_request:
    branches:
      - main

jobs:
  builds:

    runs-on: ubuntu-latest

    steps:
      - name: check out the repository
        uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build and test with Maven
        run: mvn --batch-mode package